@mixin border-radius($radius: $border-radius) {
  @if $enable-rounded {
    border-radius: $radius;
  }
}

// 图片block;
@mixin img-block($width: 100%, $height: 100%) {
  img {
    display: block;
    width: $width;
    height: $height;
  }
}

// 上箭头三角 $dir [top, right, down, left]
@mixin triangle($dir, $width: 8, $color: $base-color) {
  display: inline-block;
  width: 0;
  height: 0;
  $side-border: $width + px solid transparent;
  $bottom-border: $width * 1.3 + px solid $color;
  @if $dir==top {
    border-left: $side-border;
    border-right: $side-border;
    border-bottom: $bottom-border;
  }
  @else if $dir==right {
    border-top: $side-border;
    border-bottom: $side-border;
    border-left: $bottom-border;
  }
  @else if $dir==bottom {
    border-left: $side-border;
    border-right: $side-border;
    border-top: $bottom-border;
  }
  @else if $dir==left {
    border-top: $side-border;
    border-bottom: $side-border;
    border-right: $bottom-border;
  }
}

// 文本溢出添加省略号
@mixin text-ellipsis($width: 100%) {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-text-overflow: ellipsis;
  width: $width;
}

// 文本溢出添加省略号(多行)
@mixin text-ellipsis-x($line: 1) {
  display: -webkit-box;
  -webkit-line-clamp: $line;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

// 黑色透明背景, 后期需添加兼容处理
@mixin background-black-opacity($opacity: 0.3) {
  background: rgba(0, 0, 0, $opacity);
}

// 行高居中
@mixin vertical-mid-lineheight($height) {
  height: $height;
  line-height: $height;
}

// 多行居中, 不能设置浮动, IE8+
@mixin vertical-mid-table {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

// hover style
@mixin hover-text-style($color-base: $font-color-base, $color-hover: $green) {
  color: $color-base;
  text-decoration: none;
  &:hover {
    color: $color-hover;
  }
}

// 链接样式
@mixin link-style($color-base: $link-color, $decoration: none) {
  cursor: pointer;
  color: $color-base;
  text-decoration: $decoration;
  &:hover {
    color: darken($color-base, 15%);
    text-decoration: underline;
  }
}

// absolute
@mixin postion-absolute( $top: false, $right: false, $bottom: false, $left: false) {
  position: absolute;
  @if $top {
    top: $top;
  }
  @if $right {
    right: $right;
  }
  @if $bottom {
    bottom: $bottom;
  }
  @if $left {
    left: $left;
  }
}

@mixin postion-absolute-after( $position: absolute, $zindex: 10, $opacity: 0.5, $top: 0, $right: 0, $bottom: 0, $left: 0) {
  position: $position;
  z-index: $zindex;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
  content: '';
  display: block;
  background-color: #000;
  opacity: $opacity;
}

@mixin reset-btn($background: #e1e4e7) {
  border: none;
  background-color: $background;
  color: $white;
  border-radius: 2px;
  outline: none;
  transition: $transition-base;
  cursor: pointer;
  text-align: center;
  &:hover {
    background-color: darken($background, 10%);
  }
}
